<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>

				<head>
								<meta charset="utf-8">
								<title>{{ page_meta.html_title }}</title>
								{% if site_settings.favicon_src %} <link rel="shortcut icon" href="{{site_settings.favicon_src}}" /> {% endif %}
								<meta name="description" content="{{ page_meta.meta_description }}">
								<meta name=viewport content="width=device-width, initial-scale=1">
								{{ require_css(get_asset_url('../../css/main.css')) }}
								{{ require_css("https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Raleway:wght@500&display=swap", { async: true }) }}
								{{ require_css(get_asset_url('../../css/theme-overrides.css'))}}
								{{ require_css(get_asset_url('../../css/style.css'), { async: true }) }}
								{{ require_js(get_asset_url('../../js/main.js'), { defer: true }) }}
            
							{{ standard_header_includes }}
				</head>

				<body>
								<div class="body-wrapper {{ builtin_body_classes }}">

										{% block header %} {% global_partial path='../partials/header.html' %} {% endblock header %}

										{% block body %} {% endblock body %} 

										{% block footer %} {% global_partial path='../partials/footer.html' %} {% endblock footer %}

								</div>
								{% if not site_settings.include_jquery %}
										{{ require_js("https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js", "head") }}
								{% endif %} 
								{{ standard_footer_includes }}
				</body>

</html>