<section class="leftimage__right_main">
    <div class="container">
         <div class="leftimage__right_row">
             <div class="leftimage__right_left">
               {% if module.image_field.src %}
               {% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}"' %}
               {% if module.image_field.size_type == 'auto' %}
               {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
               {% elif module.image_field.size_type == 'auto_custom_max' %}
               {% set sizeAttrs = 'width="{{ module.image_field.max_width }}" height="{{ module.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
               {% endif %}
               {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
               <img src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
               {% endif %}
             </div>
             <div class="leftimage__right_right">
               <div class="header_programs__main">
                 <div class="subTextDef">
                    {{ module.text_field }}
                 </div>
                 <div class="eduprogram">
                   <h2>
                     {{ module.title }}
                   </h2>
                 </div>
                 <div class="header__text">
                     {{ module.richtext_field }}
                 </div>
                
               </div>
             </div>
         </div>
    </div>
</section>