<style>
		{% scope_css %}
		.floating-inneimage {
				background-color: {{ module.style.back_shape_color.color }};
		}
		{% end_scope_css %}
</style>

<div class="floating-images-section">
    <div class="containerFullMode">
       <div class="floating-row slick-arblblack">
         {% for item in module.image_carousel_group %}
            <div class="floating-column">
              <div class="floating-image">
                 <div class="floating-onimage">
                     {% if item.image_field.src %}
                   {% set sizeAttrs = 'width="{{ item.image_field.width }}" height="{{ item.image_field.height }}"' %}
                   {% if item.image_field.size_type == 'auto' %}
                   {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                   {% elif item.image_field.size_type == 'auto_custom_max' %}
                   {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ item.image_field.max_width }}px; max-height: {{ item.image_field.max_height }}px"' %}
                   {% endif %}
                   {% set loadingAttr = item.image_field.loading != 'lazy' ? 'loading="{{ item.image_field.loading }}"' : '' %}
                   <img loading="lazy" src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}" {{ sizeAttrs }} {{ loadingAttr }}>
                   {% endif %}
                </div>
                <div class="floating-inneimage">
                </div>
              </div>
            </div>
         {% endfor %}
      </div>
    </div>
</div>
{{ require_js("//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js", "footer") }}
{% require_js %}
<script defer>
$(document).ready(function() {
  $('#hs_cos_wrapper_{{name}} .floating-row').slick({
    
    centerMode: true,
   
    slidesToShow: 1,
    slidesToScroll: 1,
    dots: true, 
    arrows: false,
    speed: 900,
    infinite: true,
   {% if module.autoplay_ %}  autoplay:true, {% endif %}
    
     responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        
        slidesToShow: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: false,
        
        slidesToShow: 1
      }
    }
  ]
  
  });
});
</script>
{% end_require_js %}