<!--
   templateType: blog_listing
   isAvailableForNewContent: true
   label: Blog Summary
   screenshotPath: ../../images/thumbnails/Blog.jpg
-->

{% extends '../layouts/base.html' %}
{% block body %}
<main class="body-container-wrapper topheader-padding">
   <div class="body-container body-container--blog-index">
      {% dnd_area 'dnd_area'
										label='Main section',
										class='body-container body-container--blog-index'
      %}
					
									   {# HERO SECTION START #}
    {% dnd_section 
     margin={
        'top': -150,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
						padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
						full_width='true'
      
       %}
      
          {% dnd_module
            path='../../modules/Main Hero',
            flexbox_positioning="TOP_CENTER",
         
          %}
  
  
  
     {% end_dnd_module %}
		{% end_dnd_section %}
   {# HERO SECTION END #}
					
  {% dnd_section 
     padding={
        'top': 80,
        'bottom': 70,
        'left': 0,
        'right': 0
      },
						margin={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
						background_color="#ffffff";
      
       %}
      
          {% dnd_module
            path='../../modules/Contact Form And Image',
            flexbox_positioning="TOP_CENTER",
    
          %}
  
  
          {% end_dnd_module %}
  
   {% end_dnd_section %} 
									
     
                {% dnd_section
														padding={
														'top': 0,
														'bottom': 0,
														'left' : 0,
														'right' : 0
														}
										%}
														{% dnd_module
																		path='../../modules/ALL CATEGORIES - For Blog',  label="Side Module with Images or Video"
														%}
														{% end_dnd_module %}
										{% end_dnd_section %}
     
     
     
     
     								{% dnd_section
														padding={
														'top': 0,
														'bottom': 0,
														'left' : 0,
														'right' : 0
														}
										%}
														{% dnd_module
																		path='../../modules/Blog Listing Index.module',  label="Blog Listing Index.module"
														%}
														{% end_dnd_module %}
										{% end_dnd_section %}
     
     
     
     
     
      {% end_dnd_area %}
     
     
     
   
     
     
   </div>
</main>
{% endblock body %}