<!--
  templateType: page
  isAvailableForNewContent: true
  label: Learning
  screenshotPath: ../images/thumbnails/Cover 3.png
-->
 
{% extends './layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--about', label='Main section' %}
     
   {# HERO SECTION START #}
    {% dnd_section 
     margin={
        'top': -100,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
						padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
						full_width='true'
      
       %}
      
          {% dnd_module
            path='../modules/Main Hero',
            flexbox_positioning="TOP_CENTER",
         
          %}
  
  
  
          {% end_dnd_module %}
				{% end_dnd_section %}
   {# HERO SECTION END #}
      

  

  
  
  
      {% dnd_section 
     margin={
        'top': 70,
        'bottom': 10,
        'left': 0,
        'right': 0
      },
      
       %}
    
          {% dnd_module
            path='../modules/Module Group/Section header',
           
            caption = "Follow the map for directions",
            title = "Visit Our Office!",
            text = "<p>Felis placerat gravida sed nibh id purus. Dictum tristique sagittis lobortis sed. Fames fermentum viverra aliquet volutpat. Fames fermentum viverra aliquet volutpat.</p>"
            image_field = {
                  src : "{{ get_asset_url('../images/thumbnails/MAIN IMAGE_new.png') }}"
             }
    
          %}
  
  
          {% end_dnd_module %}
           
          
  
           

  
  
   {% end_dnd_section %} 
  

				   {% dnd_section 
     padding={
        'top': 65,
        'bottom': 65,
        'left': 0,
        'right': 0
      },
						margin={
        'top': 0,
        'bottom': 35,
        'left': 0,
        'right': 0
      },
      
       %}
      
          {% dnd_module
            path='../modules/Main Content Text',
          %}
  
  
          {% end_dnd_module %}
  
   {% end_dnd_section %} 
	
  
  
    {% include_dnd_partial
    path="../sections/multi-column-content.html",
    context={
      "background_color": "#FFFFFF"
    }
  %}
  
  
  
		
		   {# FAQ Section #}
    {% dnd_section
      
         padding={
        'top': 0,
        'bottom': 70,
        'left': 0,
        'right': 0
      },
      full_width='true',
      flexbox_positioning="MIDDLE_LEFT"

    
    %}
   

    
          {% dnd_module
            path='../modules/Module Group/Accordion', 
            flexbox_positioning="TOP_CENTER",
            testimonial_style = "style2"
            
          %}
  
          {% end_dnd_module %}
   
  
    {% end_dnd_section %}

  {% end_dnd_area %}
</main>
{% endblock body %}