<!--
  templateType: page
  isAvailableForNewContent: true
  label: Pillar Page
  screenshotPath: ../images/thumbnails/Pillar Page.jpg
-->
 
{% extends './layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--about', label='Main section' %}
     
   {# HERO SECTION START #}
    {% dnd_section 
     margin={
        'top': -100,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
						padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
						full_width='true'
      
       %}
      
          {% dnd_module
            path='../modules/Main Hero',
            flexbox_positioning="TOP_CENTER",
         
          %}
  
  
  
          {% end_dnd_module %}
   {# HERO SECTION END #}
    {% end_dnd_section %}

		   {% dnd_section 
     padding={
        'top': 65,
        'bottom': 65,
        'left': 0,
        'right': 0
      },
						margin={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      
       %}
      
          {% dnd_module
            path='../modules/Main Content Text',
          %}
  
  
          {% end_dnd_module %}
  
   {% end_dnd_section %} 
      {# end sendond section #}
		
		
		   {% dnd_section 
					flexbox_positioning="TOP_CENTER",
					full_width='true'
					
       %}
      
          {% dnd_module
            path='../modules/Module Group/Gallery Image',
												select_image_gallery_style="style3"
          %}
  
  
          {% end_dnd_module %}
  
   {% end_dnd_section %} 
      {# end sendond section #}

  {% end_dnd_area %}
</main>
{% endblock body %}