.containerExHero {  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "emptyTop emptyArea"
    "mainTexts emptyArea"
    "mainTexts emptyArea";
		margin: auto;
		max-width: 1200px;
		min-height: 690px;
  
    align-items: flex-start;
  
  
}




.sideArea { grid-area: sideArea; writing-mode: vertical-rl; display: flex;
    padding: 10px;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; 
    margin-top: 70px;
  
    margin-top: 105px;
    position: sticky;
    margin-left: -60px;
    top: 96px;
  
  
}



.mainSideText { font-size: 35px; }
.subSideText { font-size: 18px; }

.mainTexts { grid-area: mainTexts; }



@media (max-width:1200px){
  .sideArea { display:none ;  }
 
}


@media (max-width:768px){
		.sideArea {
				display: none;
		}
		
		.containerExHero {  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
  grid-template-areas:
    "emptyTop emptyArea"
    "mainTexts mainTexts"
    "mainTexts mainTexts";
}
}



