<style>
				{% scope_css %}
#defaultExHero { 
    background-image: url({{module.style.section_background.src}});
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
		  color: {{module.style.text_color.color}};
}
		
		.mainTexts h1 {
				color: {{module.style.text_color.color}} !important;
		}
		
		.mainTexts p {
				    margin-bottom: 25px;
		}
				
				{% if module.style.enable_custom_cta %}
				.customCTA a {
				background-color: {{module.style.background_color.color}} !important;
    color: {{module.style.text_section_color.color}} !important;
				}
				{% endif %}
				{% end_scope_css %}
</style>

<section id="defaultExHero" class="{{ module.custom_class }}">
		<div class="containerExHero">

        <!-- TEXTS -->
        <div class="mainTexts">
										
										{% if module.title %}
            <h1>
														{{module.title}}
            </h1>
										{% endif %}
										
										{% if module.paragraph %}
            <p>
														{{module.paragraph}}
            </p>
										{% endif %}

            <!-- CTA  -->
										{% if module.button_text %}
            <div class="cta-design customCTA">
													{% set href = module.cta_link.url.href %}
             {% if module.cta_link.url.type is equalto "EMAIL_ADDRESS" %}
             {% set href = "mailto:" + href %}
             {% endif %}
             {% set rel = [] %}
             {% if module.cta_link.no_follow %}
             {% do rel.append("nofollow") %}
             {% endif %}
             {% if module.cta_link.open_in_new_tab %}
             {% do rel.append("noopener") %}
             {% endif %}
                <a href="{{href}}" {% if module.cta_link.open_in_new_tab %}target="_blank"{% endif %}
                {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}>
                    {{module.button_text}}
                </a>
            </div>
										{% endif %}
        </div>
				</div>
    </section>